[Unit]
Description=LST-Demo-Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull weaveworksdemos/load-test
ExecStartPre=-/usr/bin/docker docker rm -f lst || true
ExecStart=/usr/bin/bash -c 'while true; do ( cmdpid=$BASHPID; (sleep 480; docker rm -f lst) & exec docker run --name=lst --rm --net=host --rm jepmam/lst-test -h $LSTHOST -c 450 -r 15000 ); echo "done testing; now sleeping for n seconds..."; sleep $((60 + RANDOM % 180)); echo "done sleeping, new lst iteration!"; done'
